## Hello World 출력
#### Day1, 20/01/13 Mon

In [1]:
print("hello world")

hello world

In [4]:
a=1
a=a+1
a

2

In [5]:
a+=2
a

4

In [9]:
number=int(input("첫번째 숫자를 입력하세요."))
print("Input number is "+str(number))

첫번째 숫자를 입력하세요.10
Input number is 10

In [10]:
type(number)

int

In [11]:
print("life","is","too","short")

life is too short

In [13]:
print("I eat %d apples." %number)

I eat 10 apples.

In [14]:
print("I ate %d apples, so I was sick for %s days"%(number,"three"))

I ate 10 apples, so I was sick for three days

## 실습문제1

In [17]:
F=int(input("화씨온도: "))
C=(F-32)*(5/9)
print("섭씨온도 : "+str(C))

화씨온도: 100
섭씨온도 : 37.77777777777778

## 실습문제2

In [25]:
inMoney=int(input("투입한 돈 : "))
price=int(input("물건의 가격 : "))
change = inMoney-price
print("거스름돈 :",change)
c500=change//500
change=change%500
c100=change//100
print("500원짜리 : ", str(c500)+"개")
print("100원짜리 : ", str(c100)+"개")

투입한 돈 : 5000
물건의 가격 : 2700
거스름돈 : 2300
500원짜리 :  4개
100원짜리 :  3개

In [5]:
word="123456789"
print(word[:])
print(word[::-4]) # Reverse

123456789
951

In [27]:
'1' in word

True

In [30]:
word="Hello"
word[len(word)-1] #word[(5-1)]

'o'

In [31]:
s1= "python is fun"
s1.split(" ")

['python', 'is', 'fun']

In [32]:
s2="one:two:three"
s2.split(":")

['one', 'two', 'three']

In [33]:
s2

'one:two:three'

In [34]:
s3='''s1 is too
long'''
s3.split("\n")

['s1 is too', 'long']

In [8]:
a=[1,2,3]

In [9]:
a[2]

3

In [10]:
a[2]=8
a

[1, 2, 8]

In [14]:
a[1:2]=['a','b']

In [15]:
a

[1, 'a', 'b', 8]

In [53]:
a[0]=[3.5, 4.5]
a

[[3.5, 4.5], 'a', 'b', 'c', 8]

In [54]:
a[0][1]

4.5

In [55]:
del(a[0])
a

['a', 'b', 'c', 8]

In [56]:
t=[1,2,3]
a,b,c=t
print(a,b,c)

1 2 3

In [59]:
x,y,_=t  ## x,y=t ==> valueError :: t has 3 values.

In [68]:
# 실습문제4

date=input("날짜(연/월/일) 입력:")
#print("입력한 날짜의 10년 후는 ", str(date[0:2])+str(int(date[2:4])+10)+str(date[4:]))

날짜(연/월/일) 입력:2019/10/12

In [69]:
year,month,day=date.split("/")
print("입력한 날짜의 10년 후는 "+str(int(year)+10)+"년 "+month+"월 "+day+"일")

입력한 날짜의 10년 후는 2029년 10월 12일

In [75]:
number =1

while(number<6):
    print(number,end=", ")
    number+=1

1, 2, 3, 4, 5,

In [76]:
number =1
s=0
while(number<11):
    s+=number
    number+=1
print(s)

55

In [80]:
number=1
fac=1
while(number<10):
    fac*=number
    number+=1
fac

362880

In [87]:
range(1,7,2)

range(1, 7, 2)

In [92]:
for x in range(5):
    print(type(x))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [91]:
type(range(5))

range

In [95]:
for x in "Python":
    print(x, end=" ")

P y t h o n

In [100]:
colors=list()

In [101]:
colors

[]

In [102]:
colors.append("red")
colors.append("blue")

In [103]:
colors

['red', 'blue']

In [104]:
colors.append("red")

In [105]:
colors

['red', 'blue', 'red']

In [106]:
colors.remove("red") # 앞에서 처음 나온 red만 제거됨.

In [107]:
colors

['blue', 'red']

In [109]:
print(sorted(colors))

['blue', 'red']

In [112]:
colors.append("apple")
colors

['blue', 'red', 'apple', 'apple']

In [115]:
colors.sort(reverse=True)
colors

['red', 'blue', 'apple', 'apple']

# 파이썬 프로그래밍 기초 실습1

In [42]:
print("수학점수는 "+str(90)+"점 이다.")

수학점수는 90점 이다.

In [43]:
 print ("life","is","too short")

life is too short

In [44]:
print(("python"+" ")*3)

python python python

In [99]:
inputN=input("Input an integer : ")
idx=0
for x in range(len(inputN)):
    for y in range(int(inputN[idx])):
        print("*",end="")
    print("\n")
    idx+=1

Input an integer : 3156
***

*

*****

******

In [16]:
s="apple banana"
for a in s:
    print(a)

a
p
p
l
e

b
a
n
a
n
a